.button-submit {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    background-color: white;
    color: #333;
    border: 1px solid #333;
    border-radius: 20px;
  }
  
  .button-submit:hover {
    background-color: #333;
    color: white;
  }
  
  body {
    background-image: url('bg.jpg');
    background-size: cover;
    font-family: 'Montserrat', sans-serif;
  }
  
  .header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
  }
  
  .container {
    margin: 20px auto;
    max-width: 600px;
    background-color: rgba(234, 234, 234, 0.2);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    font-family: 'Montserrat', sans-serif;
    text-align: center;
  }
  
  
  .form-group {
    margin-bottom: 20px;
  }
  
  .form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
  }
  
  .form-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .button-group {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
  }
  
  .button-group button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
  }
  
  .button-group button.primary {
    background-color: #4CAF50;
  }
  
  .button-group button.secondary {
    background-color: #f44336;
  }
  
  .button-group button.warning {
    background-color: #ff9800;
  }
  
  #music-button {
    display: none;
  }
  
  @keyframes slideIn {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(0);
    }
  }
  
  .container {
    animation: slideIn 1s ease-in-out;
  }
  footer {
    color: #fff;
    padding: 20px;
    text-align: center;
}

footer p {
    margin: 0;
}